<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278227385805-i2p342rl2sfs32ctlmo80eu2etsn7v0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278227385805-i2p342rl2sfs32ctlmo80eu2etsn7v0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDrs0Ieu1fAG-ufQkF93X6YotPS-1Z7pO4</string>
	<key>GCM_SENDER_ID</key>
	<string>278227385805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clara-jeon.Nest</string>
	<key>PROJECT_ID</key>
	<string>nest-c4ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>nest-c4ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278227385805:ios:a44ffb8b340cd17dc6d884</string>
</dict>
</plist>